.product-img{
  height: 300px;
  width: 300px;
  padding: 20px;
 
}

.product-container {
display: flex;
align-items: center;
justify-content: center;
background: none;


}
.fas-color{
  color:  #D19C97;
}
.img-styling {
  transition: transform 0.2s;
  width: 230px;
  height: 230px;
  margin: 0 auto;
} 

.img-styling:hover {
  transform: scale(1.5);
}
 @media screen and (min-width: 992px) {
  .img-styling {
    padding: 37px;
    transition: transform 0.2s;
    width: 270px;
    height: 220px;
    margin: 0 auto;
  }

  .img-styling:hover {
    transform: scale(1.3); 
  }
}

.filter-heading{
  font-weight: 700;
}
input[type=checkbox] {
  accent-color:  #D19C97 !important;
  color: white;
  width:17px;
  height:17px;
}
input[type=checkbox]:checked:before {
  color: white !important;
}
input[type=checkbox]:checked:after{
color: white !important;
}
.badge-span{
  color:#6c757d;
  padding: 4px;
  font-size:13px;
}
