

.all-products-shop-image-container {
  display: flex;
  justify-content: center;
}




.all-products-shop-image {
  height: 300px;
  width: 200px;
  object-fit: contain;
}

.all-products-shop-title {
  font-size: 12px;

}

.all-products-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-buttons{
  border-width:0px ;
  background-color: transparent;
  color: black;
}

.button {
  background: none;
  border: none;
}

.cart-added-active-btn{
  background-color: rgb(120, 228, 120);
  border-radius: 5px;
  border: none;
  padding: 1px 10px;
}
