.trendy-shop-container {
  padding: 18px;
}

@media screen and (min-width: 992px) {
  .trendy-shop-container {
    padding: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .trendy-shop-container {
    padding: 66px;
  }
}
  
  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
   position: relative;
   display: inline-block;
  }
  .decorated > span:before, .decorated > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 50px;
   margin: 0 10px;
  }
  .decorated > span:before{
   right: 100%;
  }